<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>ActivibeHandler</servlet-name>
		<servlet-class>com.activibe.gae.java.ActivibeRequestHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivibeStatusHandler</servlet-name>
		<servlet-class>com.activibe.gae.java.ActivibeStatusRequestHandler</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ActivibeEmailHandler</servlet-name>
		<servlet-class>com.activibe.gae.java.ActivibeEmailHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivibeViz</servlet-name>
		<servlet-class>com.activibe.gae.java.ActivibeVizHandler</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>ActivibeHandler</servlet-name>
		<url-pattern>/activibe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivibeStatusHandler</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivibeEmailHandler</servlet-name>
		<url-pattern>/email</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivibeViz</servlet-name>
		<url-pattern>/viz</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>

		